{% extends 'base.html.twig' %}
{% block content %}
<div class="container">
  <div class="row">
    <a class="btn btn-primary pull-left" href="{{ path('hotel_detail', {'id': hotel.id}) }}">Volver</a>
  </div>
  <div class="row page-title text-center wow bounce"  data-wow-delay="1s">
    <h5>Las reservas </h5>
    <h2><span>{{ hotel.reservations|length }}</span> reservas</h2>
  </div>

 <div class="row jobs">
    <div class="col-md-10 col-md-offset-1">
      <div class="job-posts table-responsive">
        <table class="table">
          {% for reservation in hotel.reservations %}
          <tr class="odd wow fadeInUp" data-wow-delay="1s">
            <td class="tbl-logo"><img src="{{ asset('logohotel.png', 'images') }}" alt="" height="50" width="45">   </td>
            <td class="tbl-title"><h4>{{ reservation.guest.name }}<br><span class="job-type"> {{reservation.arrival|date('d/m/Y')}} -  Para {{ reservation.duration}} dia(s) </span></h4></td>
            {% if reservation.review is not null %}
              <td class="tbl-apply"><a href="{{path('hotel_review', {'id': hotel.id}) }}">Poner critica</a>
            {% else %}
              <td class="tbl-apply">Critica ya hecha</td>
            {% endif %}
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>
{% endblock %}
