{% extends "base.html.twig" %}
{% block content %}
<div class="container">
  <div class="row page-title text-center wow bounce"  data-wow-delay="1s">
    <h5>Los Hoteles</h5>
    <h2><span>{{ hotels|length }}</span> Hoteles disponibles</h2>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form action="{{ path('hotel_list') }}" method="POST" class="form-inline">
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.city, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.rating, {'attr': {'class': 'form-control'}}) }}
        {{ form_widget(form.sort, {'attr': {'class': 'form-control'}}) }}

        {{ form_widget(form) }}
        <input class="btn btn-success" type="submit" name="submit" />
      </form>
    </div>
  </div>
  <div class="row jobs">
    <div class="col-md-12">
      {% include "partials/search_hotel.html.twig" with {'hotels':hotels}%}
    </div>
  </div>
</div>

{% endblock %}
