{% extends 'base.html.twig' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <form class="form" method="POST" action="{{ path('hotel_reserve', {'id': hotel.id }) }}">
      {{ form.widget(form.name)}}
      {{ form.widget(form.identityNumber)}}
      {{ form.widget(form.phoneNumber)}}
      {{ form.widget(form.birthdate)}}
      {{ form.widget(form.arrival)}}
      {{ form.widget(form.duration)}}
      {{ form.widget(form.paymentMethod)}}
      {{ form.widget(form.submit, {'label': 'Reservar'}) }}
      {{ form.widget(form) }}
    </form>
  </div>
</div>

{% endblock %}
