{% extends 'base.html.twig' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <form class="form" method="POST" action="{{ path('hotel_reserve', {'id': hotel.id }) }}">
      <div class="form-group">
        {{ form_widget(form.name)}}
      </div>
      <div class="form-group">
        {{ form_widget(form.identityNumber)}}
      </div>
      <div class="form-group">
        {{ form_widget(form.phoneNumber)}}
      </div>
      <div class="form-group">
        {{ form_widget(form.birthdate)}}
      </div>
      <div class="form-group">
        {{ form_widget(form.arrival)}}
      </div>
      <div class="form-group">
        {{ form_widget(form.duration)}}
      </div>
      <div class="form-group">
        {{ form_widget(form.paymentMethod)}}
      </div>
      <div class="form-group">
        {{ form_widget(form.submit, {'label': 'Reservar'
      </div>}) }}
      <div class="form-group">
        {{ form_widget(form) }}
      </div>
    </form>
  </div>
</div>

{% endblock %}
