{% extends 'base.html.twig' %}
{% block content %}

<p></p>
<p></p>
<p></p>

<div class="container">
  <div class="row page-title text-center wow bounce"  data-wow-delay="1s">
    <h5>{{hotel.name}}</h5>
    <h2><span>Hacer</span> una reserva</h2>
  </div>
  </div>

  <p></p>
  <p></p>
  <p></p>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="form" method="POST" action="{{ path('hotel_reserve', {'id': hotel.id }) }}">
        <div class="form-group">
          {{ form_label(form.name, 'Nombre y Apellido') }}
          {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{form_label(form.identityNumber, 'RUN') }}
          {{ form_widget(form.identityNumber, {'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_label(form.phoneNumber,'Numero de telefono') }}
          {{ form_widget(form.phoneNumber, {'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_label(form.birthdate, 'Fecha de Nacimiento') }}
          {{ form_widget(form.birthdate, {'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_label(form.arrival, 'Fecha de llegada') }}
          {{ form_widget(form.arrival, {'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_label(form.duration, 'Duracion' )}}
          {{ form_widget(form.duration, {'attr' : {'class': 'form-control'}}) }}
        </div>
        {% if form.reserve_lunches is defined %}
          <div class="form-group">
            {{ form_label(form.reserve_lunches, 'Quiere reservar almuerzos en el restaurante del hotel?') }}
            {{ form_widget(form.reserve_lunches, {'attr': 'form-control'}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.hour_lunches, 'Para que hora?') }}
            {{ form_widget(form.hour_lunches, {'attr': 'form-control'}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.quantity_lunches, 'Para cuanto?') }}
            {{ form_widget(form.quantity_lunches, {'attr': 'form-control'}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.reserve_dinners, 'Quiere reservar cenas en el restaurante del hotel?') }}
            {{ form_widget(form.reserve_dinners, {'attr': 'form-control'}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.hour_dinners, 'Para que hora?') }}
            {{ form_widget(form.hour_dinners, {'attr': 'form-control'}) }}
          </div>
          <div class="form-group">
            {{ form_label(form.quantity_dinners, 'Para cuanto?') }}
            {{ form_widget(form.quantity_dinners, {'attr': 'form-control'}) }}
          </div>
        {% endif %}
        <div class="form-group">
          {{ form_label(form.paymentMethod, 'Metodo de pago' )}}
          {{ form_widget(form.paymentMethod, {'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_widget(form.submit, {'label': 'Reservar'
        , 'attr': {'class': 'btn btn-success'}}) }}
        </div>
        <div class="form-group">
          {{ form_widget(form) }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
