{% extends "base.html.twig" %}

{% block content %}
  <form action="{{ path('signup') }}" method="post" class="form-login center">
    {% if error %}
    <div class="alert alert-error">{{ error|nl2br }}</div>
    {% endif %}

    <div class="form-group">
      {{ form_errors(form.email) }}
      <div class="input-group">
        <span class="input-group-addon">Email</span>
        {{ form_widget(form.email, {attr: {'class': 'form-control'}}) }}
      </div>
    </div>

    <div class="form-group">
      {{ form_errors(form.plainPassword) }}
      <div class="input-group">
        <span class="input-group-addon">Password</span>
        {{ form_widget(form.plainPassword, {attr: {'class': 'form-control'}}) }}
      </div>
    </div>

    {{ form_widget(form) }}
    <input type="submit" name="submit" />
  </form>
{% endblock %}
