<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Jonaki | Job Board Template</title>
        <meta name="description" content="company is a free job board template">
        <meta name="author" content="Ohidul">
        <meta name="keyword" content="html, css, bootstrap, job-board">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800' rel='stylesheet' type='text/css'>

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">
        <link rel="icon" href="{{ asset('favicon.ico') }}" type="image/x-icon">

        <link rel="stylesheet" href="{{ asset('normalize.css') }}">
        <link rel="stylesheet" href="{{ asset('font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('fontello.css') }}">
        <link rel="stylesheet" href="{{ asset('animate.css') }}">
        <link rel="stylesheet" href="{{ asset('bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('owl.theme.css') }}">
        <link rel="stylesheet" href="{{ asset('owl.transitions.css') }}">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link rel="stylesheet" href="{{ asset('responsive.css') }}">
        <script src="{{ asset('vendor/modernizr-2.6.2.min.js') }}"></script>
    </head>
    <body>

        <div id="preloader">
            <div id="status">&nbsp;</div>
        </div>
        <!-- Body content -->

        {% include "partials/navbar.html.twig" %}

        {% block content %}{% endblock %}

        {% include "partials/footer.html.twig" %}

    </body>
</html>
