<div class="footer-area">
    <div class="container">
        <div class="row footer">
            <div class="col-md-4">
                <div class="single-footer">
                    <img src="{{ asset('footer-logo.png', 'images') }}" alt="" class="wow pulse" data-wow-delay="1s">
                    <p>Guloja combina un algoritmo de la tecnologia mas avanzada para ofrecer un servicio de calidad a sus usuarios.</p>
                </div>
            </div>
        </div>
        <div class="row footer-copy">
            <p><span>(C) webstie, All rights reserved</span> | <span>Graphic Designed by Grupo 37 y Grupo 40 </span> | <span> Web Designed by Grupo 37 y Grupo 40 </span> </p>
        </div>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="{{ asset('jquery-1.10.2.min.js', 'js') }}"><\/script>')</script>
<script src="{{ asset('bootstrap.min.js', 'js') }}"></script>
<script src="{{ asset('owl.carousel.min.js', 'js') }}"></script>
<script src="{{ asset('wow.js', 'js') }}"></script>
<script src="{{ asset('main.js', 'js') }}"></script>
