<nav class="navbar navbar-default">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{ path('root_index')}}"><img src="{{ asset('logo.png', 'images') }}" alt=""></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      {% if app.user %}
        <div class="button navbar-right">
          <a href="{{ path('logout')}} " class="navbar-btn nav-button wow fadeInRight login" data-wow-delay="0.6s">Desconectarse</a>
        </div>
      {% else %}
        <div class="button navbar-right">
            <a href="{{path('login')}}" class="navbar-btn nav-button wow bounceInRight login" data-wow-delay="0.8s">Conectarse</a>
            <a href="{{path('signup')}}" class="navbar-btn nav-button wow fadeInRight" data-wow-delay="0.6s">Inscribirse</a>
        </div>
      {% endif %}
      <ul class="main-nav nav navbar-nav navbar-right">
        <li class="wow fadeInDown" data-wow-delay="0s"><a class="{% if global.request.attributes.get('_route') == 'root_index' %}active{% endif %}" href="{{ path('root_index') }}">Portada</a></li>
        <li class="wow fadeInDown" data-wow-delay="0.1s"><a class="{% if global.request.attributes.get('_route') == 'restaurant_list' %}active{% endif %}" href="{{ path('restaurant_list') }}">Restaurantes</a></li>
        <li class="wow fadeInDown" data-wow-delay="0.2s"><a class="{% if global.request.attributes.get('_route') == 'hotel_list' %}active{% endif %}" href="{{ path('hotel_list') }}">Hoteles</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
