{% extends "base.html.twig" %}
{% block content %}

 <div class="row page-title text-center wow zoomInDown" data-wow-delay="1s">
    <h1>{{ restaurant.name }}</h1>
     <p> {{ restaurant.street }} , {{ restaurant.city }}</p>
</div>
          <div class="row how-it-work text-center">
              <div class="col-md-4">
                  <div class="single-work wow fadeInUp" data-wow-delay="0.8s">
                      <img src="{{ asset('palme.png', 'images') }}" alt="" height="80" width="80">
                      <h3>Nota Promedia</h3>
                      <h2>{{ restaurant.getAverageNote() }} /4</h2>
                  </div>
                </div>
              <div class="col-md-4">
                  <div class="single-work  wow fadeInUp"  data-wow-delay="0.9s">
                      <img src="{{ asset('Etoile.png', 'images') }}" alt="" height="80" width="80">
                      <h3>Chef y Estrellas</h3>
                      <p>{{ restaurant.chef }} con {{ restaurant.starRating }} estrellas </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="single-work wow fadeInUp"  data-wow-delay="1s">
                      <img src="{{ asset('fourchette.png', 'images') }}" alt="" height="80" width="80">
                      <h3>Estilo de cocina</h3>
                      <p>{{ restaurant.style }}</p>
                  </div>
              </div>
          </div>

          <div class="row how-it-work text-center">
              <div class="col-md-4">
                  <div class="single-work wow fadeInUp" data-wow-delay="0.8s">
                      <img src="{{ asset('palme.png', 'images') }}" alt="" height="80" width="80">
                      <h3>Menu</h3>
                      <h2></h2>
                  </div>
                </div>
              <div class="col-md-4">
                  <div class="single-work  wow fadeInUp"  data-wow-delay="0.9s">
                      <img src="{{ asset('Etoile.png', 'images') }}" alt="" height="80" width="80">
                      <h3>Horarios</h3>
                      <p> </p>
                  </div>
              </div>
              <div class="col-md-4">
                  <div class="single-work wow fadeInUp"  data-wow-delay="1s">
                      <img src="{{ asset('fourchette.png', 'images') }}" alt="" height="80" width="80">
                      <h3>Capacidad</h3>
                      <p>{{ restaurant.capacity }}</p>
                  </div>
              </div>
          </div>

      <hr>

      {#<div class="container">
          <div class="row page-title text-center wow bounce"  data-wow-delay="1s">
              <h5>Las criticas</h5>
              <h2><span>5</span> ultimas criticas</h2>
          </div>
          <div class="row jobs">
              <div class="col-md-12">
                  <div class="job-posts table-responsive">
                      <table class="table">
                          {% for restaurant in restaurants %}
                          <tr class="odd wow fadeInUp" data-wow-delay="1s">
                              <td class="tbl-logo"><img src="{{ asset('logousers.png', 'images') }}" alt="" height="50" width="50"></td>
                              <td class="tbl-title"><h4>{{ restaurant.name }}<br><span class="job-type">Restaurante</span></h4></td>
                              <td><p><i class="icon-location"></i>{{ restaurant.city }}</p></td>
                              <td class="tbl-apply"><a href="#">Ver</a></td>
                          </tr>
                          {% endfor %}
                      </table>
                  </div>
              </div>
          </div>
      </div>#}

{% endblock %}
