{% extends 'base.html.twig' %}
{% block content %}

<p></p>
<p></p>
<p></p>

<div class="container">
  <div class="row page-title text-center wow bounce"  data-wow-delay="1s">
    <h5>{{restaurant.name}}</h5>
    <h2><span>Hacer</span> una reserva</h2>
  </div>
  </div>

  <p></p>
  <p></p>
  <p></p>


<div class="container">
  <div class="row">
    <div class="col-md-12">
      <form class="form" method="POST" action="{{ path('restaurant_reserve', {'name': restaurant.name }) }}">
        <div class="form-group">
          {{ form_label(form.clientName, 'Nombre del cliente :') }}
          {{ form_widget(form.clientName, {'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_label(form.phoneNumber, 'Numero de telefono :') }}
          {{ form_widget(form.phoneNumber, {'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_label(form.date, 'Fecha :') }}
          {{ form_widget(form.date, {'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_label(form.time, 'Hora :') }}
          {{ form_widget(form.time) }}
        </div>
        <div class="form-group">
          {{ form_label(form.quantity, 'Cantidad :') }}
          {{ form_widget(form.quantity, {'attr' : {'class': 'form-control'}}) }}
        </div>
        <div class="form-group">
          {{ form_widget(form.submit, {'label': 'Reservar'
        , 'attr': {'class': 'btn btn-success'}}) }}
        </div>
        <div class="form-group">
          {{ form_widget(form) }}
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
