{% extends 'base.html.twig' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <form class="form" method="POST" action="{{ path('hotel_reserve', {'id': hotel.id }) }}">
      <div class="form-group">
        {{ form_label(form.clientName) }}
        {{ form_widget(form.clientName, {'attr' : {'class': 'form-control'}}) }}
        }
      </div>
      <div class="form-group">
        {{ form_label(form.phoneNumber) }}
        {{ form_widget(form.phoneNumber, {'attr' : {'class': 'form-control'}}) }}
        }
      </div>
      <div class="form-group">
        {{ form_label(form.date) }}
        {{ form_widget(form.date, {'attr' : {'class': 'form-control'}}) }}
        }
      </div>
      <div class="form-group">
        {{ form_label(form.time) }}
        {{ form_widget(form.time, {'attr' : {'class': 'form-control'}}) }}
        }
      </div>
      <div class="form-group">
        {{ form_label(form.quantity) }}
        {{ form_widget(form.quantity, {'attr' : {'class': 'form-control'}}) }}
        }
      </div>
      <div class="form-group">
        {{ form_widget(form.submit, {'label': 'Reservar'
      , 'attr': {'class': 'btn btn-success'}}) }}
      </div>
      <div class="form-group">
        {{ form_widget(form) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}
