{% extends 'base.html.twig' %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <form class="form" method="POST" action="{{ path('hotel_reserve', {'id': hotel.id }) }}">
      {{ form.widget(form.clientName)}}
      {{ form.widget(form.phoneNumber)}}
      {{ form.widget(form.date)}}
      {{ form.widget(form.time)}}
      {{ form.widget(form.quantity)}}
      {{ form.widget(form.submit, {'label': 'Reservar'}) }}
      {{ form.widget(form) }}
    </form>
  </div>
</div>
{% endblock %}
